
<!--Managing products-->

<div style="margin: -6% 0%">
  <div>
  <button pButton type="button" style="width: 200px;height: 150px;margin: 2%">
    <h2 style="align-content: center"> Manage Products</h2>
  </button>



  <button pButton type="button" style="width: 200px;height: 150px;margin: 2%">
  <h2 style="align-content: center"> Manage Stafffs</h2>
  </button>
</div>

<!--Report-->

<div>
  <button pButton type="button" style="width: 200px;height: 150px;margin: 2% 2%">
  <h2 style="align-content: center"> Product Report</h2>
  </button>

<!--Customer Report-->


  <button pButton type="button" style="width: 200px;height: 150px;margin: 2% 2%">
  <h2 style="align-content: center"> Customer Report</h2>
  </button>
</div>

</div>
