<!--The content below is only a placeholder and can be replaced.-->
<div style="
    box-shadow: 7px 10px 33px -14px;
    padding:  3%;
    width:  332px;
 margin:-7% 34% auto;


        height: 300px;">
  <div class="ui-g" style="
    /* box-shadow: 7px 10px 33px -13px; */
    width:  225px;
    margin: 22% 20%;
    color: blue;
">
    <div class="ui-g-12 ui-md-4" >
      <div class="ui-inputgroup">
        <div style="background-color:white;border-top-left-radius: 10px;padding-left: 5px;padding-right: 5px"><img style="width: 30px;height: 30px;margin-top: 8%" src="./assets/usr.png"></div>
        <input type="text" style="
    height: 30px; border-top-right-radius: 10px" pInputText placeholder="Username">
      </div>
    </div>
  </div>

    <div class="ui-g" style="
    /* box-shadow: 7px 10px 33px -13px; */
    width:  225px;
    margin: -27% 20%;
">
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
<div style="background-color:white;border-bottom-left-radius: 10px;padding-left: 5px;padding-right: 5px">
          <img style="width: 30px;height: 30px;margin-top: 8%" src="./assets/lk.png">
</div>     <input type="password" style="
    height: 30px; border-bottom-right-radius: 10px" pInputText placeholder="Password">
        </div>
      </div>

  </div>
  <div class="ui-g ui-md-10" style="margin: 28% 17%" >
<div style="width: 225px">
  <button pButton type="button" label="Click" ></button>
</div>
  </div>

</div>














